*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.main > h2{
    font-size : 40px;
    color : rgba(155, 154, 154, 1);
    margin: 30px;
}
.technical{
    display: grid;
    grid-template-columns: 60% 3% 30%;
    grid-template-rows: 250px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.skillsList{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 30px;
    margin-bottom: 30px; 
}
.skillsList > .skillItem{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
}
.skillsList > .skillItem:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}
